name: darkbio_crypto
description: "Cryptography wrappers and primitives"
version: 0.1.0
homepage: https://github.com/dark-bio/crypto-fl
repository: https://github.com/dark-bio/crypto-fl
issue_tracker: https://github.com/dark-bio/crypto-fl/issues

environment:
  sdk: '>=3.8.0 <4.0.0'
  flutter: '>=3.35.0'

dependencies:
  cbor: ^6.3.7
  flutter:
    sdk: flutter
  flutter_rust_bridge: 2.11.1
  plugin_platform_interface: ^2.1.8

dev_dependencies:
  ffi: ^2.1.4
  ffigen: ^19.1.0
  flutter_lints: ^6.0.0
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        ffiPlugin: true
      ios:
        ffiPlugin: true
      linux:
        ffiPlugin: true
      macos:
        ffiPlugin: true
      windows:
        ffiPlugin: true
