name: publish

on:
  push:
    tags: [ 'v*' ]

jobs:
  package:
    uses: ./.github/workflows/package.yml

  publish:
    needs: [package]
    runs-on: ubuntu-latest
    permissions:
      id-token: write

    steps:
      - name: Download package
        uses: actions/download-artifact@v4
        with:
          name: pub-package
          path: .

      - name: Setup Flutter with FVM
        uses: kuhnroyal/flutter-fvm-config-action/setup@v3
        with:
          cache: true

      - name: Publish to pub.dev
        run: flutter pub publish --force
