name: publish

on:
  workflow_dispatch:

jobs:
  package:
    uses: ./.github/workflows/package.yml

  publish:
    needs: [package]
    runs-on: ubuntu-latest
    steps:
      - name: Download package
        uses: actions/download-artifact@v4
        with:
          name: pub-package
          path: .

      - name: Setup Flutter with FVM
        uses: kuhnroyal/flutter-fvm-config-action/setup@v3
        with:
          cache: true

      - name: Publish to pub.dev
        run: flutter pub publish --force
        env:
          PUB_DEV_PUBLISH_ACCESS_TOKEN: ${{ secrets.PUB_DEV_PUBLISH_ACCESS_TOKEN }}
