name: publish

on:
  push:
    tags: [ 'v*' ]

jobs:
  package:
    uses: ./.github/workflows/package.yml

  publish:
    needs: [package]
    runs-on: ubuntu-latest
    permissions:
      id-token: write

    steps:
      - name: Download package
        uses: actions/download-artifact@v4
        with:
          name: pub-package

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1

      - name: Publish to pub.dev
        run: dart pub publish --force
